<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <div id="logo" class="child">
      <!-- <img alt="image" src="../../../assets/logo.png" /> -->
  </div>
  <div class="HeaderContainer">
    <ul>
      <li><a [routerLink]="['/Departments']" href="#">Departments</a></li>
      <li><a  [routerLink]="['/Employees']" href="#">Employees</a></li>
    </ul>
    <!-- <div class="child">
      <img (click)='OpenSearchBar()' *ngIf="!showSearchBar" alt="image" src="../../../assets/magnify2.png" id="magnify"/>
      <input *ngIf="showSearchBar" type="text" name="search" id="search" [(ngModel)]='searchValue'>
      <a class="submit" *ngIf="showSearchBar"  (click)='OnSubmitClicked()' (click)='OpenSearchBar()'>Submit</a> -->
    <!-- </div> -->
  </div>
</header>
