.container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

.CardContainer{
  margin: 0;padding: 0;
  /* border: 1px solid rgb(24, 13, 177); */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap:12px;
}

.departmentCard{
  max-width: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(14, 190, 49); */

}
.card-actions{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(138, 7, 7); */

}
.buttonContainer{
  /* border: 1px solid black; */
  width: 100%;
  /* padding-top: .3cm; */
  padding-bottom: .3cm;
  display: flex;
  justify-content:space-evenly;
  align-items: stretch;
}
/* button */
.delete {
  background: #FF4742;
  border: 1px solid #FF4742;
  /* padding-left:.5cm ; */
}
.edit{
  background: #3430f7;
  border: 1px solid #3430f7;
}
.button{

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#delete.button:hover,
#delete.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.button:active {
  opacity: .5;
}
#edit.button:hover,
#edit.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #3430f7;
}
.button:active {
  opacity: .5;
}

