<div class="container">
  <h1>Employees</h1>
  <div class="addContainer">
    <button (click)="OpenAddDialog()" class="button add" id="add" mat-button>Add</button>
  </div>

  <div class="CardContainer">
    <mat-card  *ngFor="let employee of employees"  class="employeeCard">
      <mat-card-title>{{employee.FirstName}}  {{employee.LastName}}</mat-card-title>
      <mat-card-subtitle>{{employee.Department.DepartmentName}}</mat-card-subtitle>
      <mat-card-content>
        <span>Active: {{employee.Active}}</span>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <h2>Actions</h2>
        <div class="buttonContainer">
          <button (click)="openDialog(employee)" class="button edit" id="edit" mat-button>Edit</button>
          <button class="button delete" id="delete" mat-button>Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
