.buttonContainer{
  /* border: 1px solid black; */
  width: 100%;
  /* padding-top: .3cm; */
  padding-bottom: .3cm;
  display: flex;
  justify-content:space-evenly;
  align-items: stretch;
}
.edit{
  background: #3430f7;
  border: 1px solid #3430f7;
}
.delete {
  background: #FF4742;
  border: 1px solid #FF4742;
}
.create{
  background: #2cf035;
  border: 1px solid #2cf035;
}
.close{
  background: #FF4742;
  border: 1px solid #FF4742;
}
.add{
  background: #2cf035;
  border: 1px solid #2cf035;
}
.button{

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#close.button:hover,
#close.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
#create.button:hover,
#create.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #2cf035;
}
#delete.button:hover,
#delete.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
#edit.button:hover,
#edit.button:active{
  background-color: initial;
  background-position: 0 0;
  color: #3430f7;
}
.button:active {
  opacity: .5;
}
